body {
    background-color: white !important;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    touch-action: manipulation !important;
}

td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
}

.elipsisCard {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.elipsisOrdercapModal {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
}

.no-elipsis {
  white-space: inherit;
  text-overflow: unset;
  overflow: auto;
  max-width: 100%;
}

.rmsc {
  --rmsc-radius: 35px !important;
  --rmsc-p: 20px !important;
}

#linear {
    background: 
            linear-gradient(217deg, rgba(255, 0, 0, 0.167), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgb(18, 189, 18), rgba(5, 143, 5, 0) 70.71%),
            linear-gradient(336deg, rgb(5, 239, 5), rgba(8, 209, 32, 0) 70.71%);
}

#linear2 {
    background: 
            linear-gradient(217deg, rgba(255, 0, 0, 0.167), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgb(247, 239, 7), rgba(188, 232, 13, 0) 70.71%),
            linear-gradient(336deg, rgb(208, 208, 114), rgba(211, 236, 21, 0) 70.71%);
}

#linear3 {
    background: 
            linear-gradient(217deg, rgba(13, 101, 216, 0.167), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgb(4, 183, 214), rgba(249, 200, 5, 0) 70.71%),
            linear-gradient(336deg, rgb(26, 172, 121), rgba(218, 246, 6, 0) 70.71%);
}

#linear4 {
    background: 
            linear-gradient(217deg, rgba(227, 191, 11, 0.167), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgb(46, 253, 4), rgba(104, 242, 5, 0) 70.71%),
            linear-gradient(336deg, rgb(22, 228, 12), rgba(8, 234, 27, 0) 70.71%);
}

.form-check-input {
  /* background-color: rgb(0, 197, 0) !important; */
  border: 2px solid;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
  }

  .btn-primary {
    background-color: rgb(0, 197, 0) !important;
    border-radius: 50px;
    outline: none;
    border: none;
  }

  .buscador {
    border-radius: 25px;
  }

  .rdrCalendarWrapper  {
    position: absolute;
    border: 1px solid black;
    z-index: 1045;
    margin-top: 110px;
  }

  #floatFilter {
    position: fixed;
    z-index: 1045;
    width: 75%;
  }

  .btn-danger {
    border-radius: 50px;
  }

  .secondary {
    background-color: rgb(7, 36, 65) !important;
    border-top-right-radius: 100px;
    height: 100% !important;
  }

  .secondaryNav {
    background-color: rgb(7, 36, 65) !important;
    border-top-right-radius: 100px;
    width: 100% !important;
  }

  .primary {
    background-color: rgb(71, 7, 168) !important;
    border-radius: 100px;
  }

  .text-primary {
    color: rgb(71, 7, 168) !important;
  }

  .fondos-cards {
    background-color: rgb(89, 7, 211);
    border-radius: 35px;
  }

  .progress {
    background-color: rgb(10, 25, 45) !important;
    border-radius: 100px !important;
    height: 10px;
    font-size: 10px;
  }

  .progress2 {
    background-color: rgb(10, 25, 45) !important;
    border-radius: 100px !important;
    height: 15px;
    font-size: 10px;
  }

  .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

  .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: black;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon) !important;
  }

  .dropdown-toggle::after {
    display:none !important;
}


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(71, 7, 168); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(7, 36, 65); 
}

.borderless td, .borderless th {
  border: none;
  vertical-align: middle;
  text-align: center;
}

.slick-prev {
  left: 0% !important;
  z-index: 1;
  /* font-size: 50px !important; */
}
.slick-next {
  right: 0% !important;
  z-index: 1;
}

.rdrDateRangePickerWrapper {
  position: absolute;
  border: 1px solid black;
  z-index: 1045;
  margin-top: 50px;
}

/* .containerColum {
  margin: 8px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  width: 230px;
  background: white;
} */

@media (max-width: 609px) {
  .rdrDateRangePickerWrapper {
    display: block !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-direction: column !important;
  }

  .rdrDefinedRangesWrapper {
    overflow-x: auto !important;
    font-size: 12px !important;
    overflow-y: hidden !important;
    display: flex;
    width: 350px !important;
    border-right: solid 1px #eff2f7 !important;
    background: #fff !important;
    height: 70px !important;
  }

  .rdrStaticRanges {
    display: flex !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    flex-direction: inherit !important;
  }

  .rdrStaticRange {
    border: 0 !important;
    display: block !important;
    outline: 0 !important;
    border-bottom: 1px solid #eff2f7 !important;
    padding: 0 !important;
    background: #fff !important;
    width: auto !important;
    height: 50px !important;
  }

  .rdrStaticRangeLabel {
    display: block;
    outline: 0;
    line-height: 18px;
    padding: 0;
    text-align: center;
    margin: 10px;
    width: max-content;
  }

  .rdrCalendarWrapper  {
    position: absolute;
    border: 1px solid black;
    z-index: 1045;
    margin-top: 160px;
  }
}


.isDragging {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px dashed white;
}

.slick-prev:before {
  color: black;
  font-size: 30px !important;
}
.slick-next:before {
  color: black;
  font-size: 30px !important;
}

.rdt_TableRow {
  border: none !important;
  outline: none !important;
}

.rdt_TableHeadRow {
  vertical-align: bottom !important;
  border-bottom: 2.5px solid #dee2e6 !important;
  font-weight: bolder !important;
}

.Hola .filled-icons {
  background-color: red !important;
}

.sidebarCapacitacion:hover {
  background-color: grey;
  border-radius: 20px;
  cursor: pointer;
}

.sidebarCapacitacion:focus {
  background-color: grey;
  border-radius: 20px;
  cursor: pointer;
}

.sidebarCapacitacionfocus {
  background-color: grey;
  border-radius: 20px;
  cursor: pointer;
}